.edit-movie-form {
  padding: 10px;
  width: 400px;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-radius: 5px;
}
.edit-movie-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.edit-movie-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.edit-movie-header Button {
  position: absolute;
  left: 5px;
}
